body {
  margin: 0px auto;
  padding: 20px;
  max-width: 700px;
  text-align: left;
  font-family: monospace;
  font-size: 16px;
  color: #222;
  background-image: url("images/background1.gif");
}

.block {
  outline: thick ridge red;
  padding: 15px;
  background: white;
}

.favoritePicturesLarge {
  width: 80%;
}

.blinky {
  display: inline-block;
}

.blinky:hover {
  transform: scale(1.1);
  cursor: pointer;
}

area { cursor: pointer; }
audio { width: 100% }
img { display: block; margin-left: auto; margin-right: auto; }
hr { color: red; border: none; width: 75%; height: 1px; background-color: red; }

a:visited {color: red; text-decoration: none; }
a:hover { color: darkred; text-decoration: none; }
a:active { color: red; text-decoration: none; }
a { color: red; text-decoration: none; }
