html {
  background-image: url("images/background1.gif");
}

header, body, footer {
  margin: 0px auto;
  padding: 20px;
  max-width: 700px;
  text-align: left;
  font-family: monospace;
  font-size: 16px;
  color: #222;
}

.block {
  outline: thick ridge red;
  padding: 15px;
  background: white;
}

.blog_img_and_desc {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

area { cursor: pointer; }
img { display: block; margin-left: auto; margin-right: auto; width: 80%;}
hr { color: red; border: none; width: 75%; height: 1px; background-color: red; }

a:visited {color: red; text-decoration: none; }
a:hover { color: darkred; text-decoration: none; }
a:active { color: red; text-decoration: none; }
a { color: red; text-decoration: none; }
